.search-bar {
    padding: 2rem;
}

.product-sorting {
    float: right;
}

product-table-message {
    text-align: center;
    padding: 1rem;
}

.table-spinner-column {
    text-align: center;
    padding: 1rem;
    }
    
    